body {
	background-color: #ecf0f1;
}

canvas {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -240px;
	margin-left: -345px;
	border: 25px solid #bdc3c7;
	border-radius: 10px;
	display: inline-block;
	z-index: 1;
}

#display {
	/* Position */
	width: 640px;
	height: 480px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -215px;
	margin-left: -320px;
	display: inline-block;
	z-index: 10;
	/* Style */
	color: #bdc3c7;
	background-color: #ecf0f1;
	text-align: center;
	font-size: 120px;
	font-family: Veranda, Geneva, sans-serif;	
}

#buttons {
	position: fixed;
	left: 50%;
	top: 50%;
	margin-top: 100px;
	margin-left: -275px;
	text-align: center;
	z-index: 1000;
}

#messageScreen {
	position: relative;
	top: 150px;
	font-size: 80px;
	color: #1abc9c;
}

#pauseScreen {
		/* Position */
	width: 640px;
	height: 480px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -60px;
	margin-left: -320px;
	display: inline-block;
	z-index: 99;
	color: #bdc3c7;
	text-align: center;
	font-size: 100px;
	font-family: Veranda, Geneva, sans-serif;
}

input {
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 5px;
	background-color: #bdc3c7;
	color: #ecf0f1;
	border: 0;
	font-size: 18px;
	font-weight: bold;
	font-family: Veranda, Geneva, sans-serif;
}

input:hover {
	cursor: pointer;
}