body {
	background-color: #ecf0f1;
}

canvas {
	border: 25px solid #bdc3c7;
	border-radius: 10px;
	display: block;
	margin: 5% auto;
	position: relative;
	z-index: 0;
}

#display {
	width: 640px;
	height: 480px;
	margin: auto;
	position: relative;
	z-index: 10000000;
}

#title {
	font-family: 'Arial';
	font-size: 72px;
}

#main {
	width: 100%;
	height: 100%;
	padding-bottom: 300px;
	width: 75%;
	height: 75%;
}

#buttons {
	top: 660px;
	text-align: center;
	margin: auto;
}

input {
	margin: 5px;
	background-color: #bdc3c7;
	color: #ecf0f1;
	border: 0;
	font-size: 16px;
	font-weight: bold;
}